body, html {
    height: 100%;
    margin: 0;
}
.landIntro {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}
.landIntro::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/landingImage.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
}
@keyframes anim {
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}
.content h1{
    color: #fffdec;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.content h3{
    color: #f1b0b7;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

